.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .signin-label {
    margin-bottom: 60px;

    .label-border {
      width: 120%;
      border-bottom: 4px solid #4895ef;
    }
  }

  .input-container {
    margin-bottom: 60px;

    .signin-input {
      width: 360px;
      height: 40px;
    }
  }

  .signin-button {
    width: 360px;
    height: 40px;
    margin-bottom: 40px;
  }
}
