.room-reservation {
  height: 100%;
  overflow-x: hidden;

  .reservation-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }

  .reservation-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
