@font-face {
  font-family: 'NotoSansKR';
  src: url('../Fonts/NotoSansKR-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('../Fonts/NotoSansKR-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('../Fonts/NotoSansKR-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('../Fonts/NotoSansKR-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('../Fonts/NotoSansKR-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
