.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-vertical {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-slide-entering {
  opacity: 0;
  transform: translateX(100%);
}

.page-slide-entered {
  opacity: 1;
  transition: all 400ms ease-out;
  transform: translateX(0) scale(1);
}

.page-slide-exiting {
  opacity: 1;
}

.page-slide-exited {
  opacity: 0;
  transition: all 400ms ease-in;
  transform: translateX(100%) scale(1);
}
